body {
  background-image: url(https://wallpaperaccess.com/full/465921.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: black;
  font-family: monospace;
}

p, #solDay, #atMin, #atMax, h1 {
  color: white;
}

h1 {
  margin-top: 350px;
  margin-right: 750px;
}

.card {
  width: 105%;
  background: rgb(69,69,69);
  background: linear-gradient(0deg, rgba(69, 69, 69, 0.52) 0%, rgba(164, 164, 164, 0.568) 100%);
}